body{
  font-family: Arial, sans-serif;
  background-color: #0f0f17;   
  color: #e6e6eb;;
  text-align: center;
  margin: 0;
  padding: 20px;
}
h2{
  margin-top: 20px;
  color: #c4b5fd;
}
input{
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  background-color: #1a1a2e;
  color: white;
}
button{
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ed993a;
  color: white;
  cursor: pointer;
}
button:hover{
  background-color: #0d6efd;
}
#container{
  margin-top: 20px;
  padding: 15px;
}
img{
  max-width: 90%;
  border-radius: 10px;
  margin-top: 10px;
}
p{
  max-width: 800px;
  margin: 15px auto;
  line-height: 1.5;
  color: #cbd5e1;
}